# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
/dist

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*.DS_Store
/config/envfiles
.env
.env.development
.env.deploy.staging
.env.deploy.platform
.env.deploy.production
.eslinterc
.vscode/*
/typings/*
dump.rdb
